<h1>Add a Movie</h1>


<%= form_for @movie, as: :movie, url: movies_path do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>
</br>
<%= f.label :director %>
<%= f.text_field :director %>
</br>
<%= f.label :description %>
<%= f.text_area :description %>
</br>

<%= f.submit %>

<% end %>
