<h1>All Books</h1>

<table>
  <thead>
    <tr>
      <th width="50">Ranking</th>
      <th width="150">Title</th>
      <th width="150">Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @book.each do |book| %>
    <tr>
      <td><%= book.rank %></td>
      <td><%= link_to(book.title, book_path(book[:id])) %></td>
      <td><%= button_to("Upvote", {action: "upvote", id: book.id}, method: :patch, :class => 'tiny button') %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Add a Book", {action: "new"}, method: :get, :class => 'success button' %>

<%= button_to("View All Media", medias_index_path, :method => :get, :class => 'button') %>
