<h1>All Albums</h1>

<table>
  <thead>
    <tr>
      <th width="100">Ranking</th>
      <th width="150">Title</th>
      <th width="150">Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @album.each do |album| %>
    <tr>
      <td><%= album.rank %></td>
      <td><%= link_to(album.title, album_path(album[:id])) %></td>
      <td><%= button_to("Upvote", {action: "upvote", id: album.id}, method: :patch, :class => 'tiny button') %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Add an Album", {action: "new"}, method: :get, :class =>
'success button' %>

<%= button_to("View All Media", medias_index_path, :method => :get, :class => 'button') %>
