<!DOCTYPE html>
<html>
<head>

  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= image_tag("owl.png", :alt => "owl", size: "200") %>
    <h1><%= link_to("Media Ranker", medias_index_path) %> </h1>
  <hr>
  </header>
<%= yield %>

</body>
</html>
